#SPDX-License-Identifier: MIT-0
---
# tasks file for container_CD
#
- name: Ensure Docker service is running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Log in to registry
  community.docker.docker_login:
    registry_url: "{{ registry_url }}"
    username: "{{ registry_username }}"
    password: "{{ registry_password }}"
    reauthorize: true
  no_log: true
  notify:
    - Pull latest image

- name: Log out of registry
  community.docker.docker_login:
    registry_url: "{{ registry_url }}"
    state: absent
  no_log: true

- name: Remove old container
  community.docker.docker_container:
    name: "{{ container_name }}"
    state: absent
    force_kill: true
  notify:
    - Start updated container

- name: Remove dangling images
  community.docker.docker_prune:
    images: true
    images_filters:
      dangling: true
