#SPDX-License-Identifier: MIT-0
---
# handlers file for container_CD
#
- name: Pull latest image
  community.docker.docker_image:
    name: "{{ image_name }}"
    tag: "{{ image_tag }}"
    source: pull
    force_source: true
  notify:
    - Remove old container

- name: Log out of registry
  community.docker.docker_login:
    registry_url: "{{ registry_url }}"
    state: absent
  no_log: true

- name: Remove old container
  community.docker.docker_container:
    name: "{{ container_name }}"
    state: absent
    force_kill: true

- name: Start updated container
  community.docker.docker_container:
    name: "{{ container_name }}"
    image: "{{ image_name }}:{{ image_tag }}"
    pull: never
    state: started
    restart_policy: "{{ container_restart_policy }}"
    ports: "{{ container_ports }}"
    env: "{{ container_env }}"
    volumes: "{{ container_volumes }}"
    networks: "{{ container_networks }}"
